@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --widthNavbar: 280px;
}

.icon {
  margin-right: 22px;
  width: 20px;
  height: 20px;

  min-height: 20px;
  min-width: 20px;
}

/* MUI */
.MuiButtonBase-root,
.MuiAccordionSummary-root,
.MuiAccordionSummary-gutters,
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root,
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  padding: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  display: none !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 44px !important;
  max-height: 44px !important;
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  margin: 0 !important;
}

.MuiTooltip-tooltip {
  background-color: whitesmoke !important;
}

.MuiTooltip-popper[data-popper-placement*="right"]
  .css-1k51tf5-MuiTooltip-tooltip {
  margin-left: -50px !important;
}

.css-hyum1k-MuiToolbar-root {
  padding-left: 0 !important;
}

.MuiPaper-root,
.MuiPaper-elevation,
.MuiPaper-elevation4,
.MuiAppBar-root,
.MuiAppBar-colorPrimary,
.MuiAppBar-positionFixed,
.mui-fixed,
.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
  box-shadow: 0px 8px 19px #f5f6f8 !important;
  background-color: white !important;
  /* border-bottom: 1px solid red; */
}
